.editContact-maincontainer{
    display: flex;
    flex-direction: column;

    height:100vh;
    width: 584px;

    position: fixed;

    background-color: white;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;

    border-right: solid 3px #DFDFDF;
    border-bottom: solid 3px #DFDFDF;

    top: 0px;
    left: 0px;

    transition: all 1200ms ease-out;

    z-index: 999;
}

.top-section-editContact{
    display: flex;
    flex-direction: column;
    background-color: #005DFF;
    border-top-right-radius: 30px;
    height: 362px;
    width: 587px;
}

.top-section-inside-editContact-ontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 240px;
}

.initial-container-edit-contact{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    width: 120px;

    border: solid 3px white;
    border-radius: 63px;
}

.inital-font-edit-contact{
    color: white;
    font-size: 47px;
    font-weight: 500;
}

.blue-button-editContact-big{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 48px;
    background-color: #4589FF;
    border-radius: 8px;
    border-style: none;
    font-size: 20px;
    transition: 0.2s;
    width: 153px;
    padding-left: 35px;
}

        .blue-button-editContact-big:hover {
            background-color: #005DFF;
            cursor: pointer;
        }

.blue-button-check-editContact{
    height: 24px;
    width: 24px;
    object-fit: cover;
    margin-left: 28px;
}

.button-order-editContact{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    width: 296px;
    bottom: 50px;
}

.white-button-big{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: #647188;
    height: 48px;
    padding: 0 15px;
    background-color: #FFFFFF;
    border: solid 1px #647188;
    border-radius: 8px;
    font-size: 20px;
    transition: 0.2s;
}

        .white-button-big:hover{
            color: #4589FF;
            border: solid 2px #4589FF;
            cursor: pointer;
        }

        .white-button-big:hover img {
            filter: invert(29%) sepia(96%) saturate(746%) hue-rotate(186deg) brightness(95%) contrast(92%);
        }