.editContact-maincontainer{
    display: flex;
    flex-direction: column;

    height: calc(100vh - 96px);
    width: 584px;

    position: fixed;

    background-color: white;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;

    top: 0px;
    left: 0px;

    transition: all 1200ms ease-out;

    z-index: 999;
}

.top-section-editContact{
    display: flex;
    flex-direction: column;
    background-color: #005DFF;
    border-top-right-radius: 30px;
    height: 362px;
}

.top-section-inside-editContact-ontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 240px;
}