header{
    width: 100%;
    height: 96px;
    background-color: #4589FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
}

.header-font{
    font-size: 19px;
}

.help-icon{
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.capa-icon-header{
    width: 46px;
    height: 56px;
    object-fit: cover;
}

.header-right-section-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 398px;
}

.user-button{
    color: #4589FF;
    height: 56px;
    width: 56px;
    background-color: white;
    border-radius: 30px;
    border-style: none;
    font-size: 28px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s;

    border: solid 2px #4589FF; /* Blaue Umrandung */
    box-shadow: 0 0 0 3px white;
}

.user-button:hover{
    cursor: pointer;
}
