.main-container{
    display: flex;
    overflow: hidden;
}

.help-body{   
    height: calc(100vh - 96px);
    overflow-y: auto;
    max-width: 1400px;
}

.headline-container-help{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow-button-help{
    width: 28px;
    height: 28px;
    border-radius: 16px;
    padding: 2px;
}

    .arrow-button-help:hover{
        background-color: #D2E3FF;
        cursor: pointer;
    }

.margin-content-help{
    display: block;
    padding: 10px 75px;
}

.h1-font-help{
    font-size: 61px;
    font-weight: 700;
}

.h2-font-help{
    font-size: 33px;
    font-weight: 700;
    color: #4589FF;
    margin: 10px 0;
}

.h3-font-help{
    font-size: 33px;
    font-weight: 700;
    color: #005DFF;
    margin: 10px 0;
}

.regular-font-help{
    font-size: 16px;
}

.regular-blue-font-help{
    font-size: 16px;
    color: #4589FF;
}

.bold-blue-font-help{
    font-size: 19px;
    font-weight: 700;
    color:#005DFF;
}

.blue-number-help{
    color: #005DFF;
    margin: 0;
    margin-right: 35px;
}

.how-to-use-container{
    display: flex;
    margin-bottom: 30px;
}