.transition-quick{
    transition: 0.2s;
}

.number-size{
    font-size: 48px;
    font-weight: 700;
    color: black;
}

.regular-container-font{
    color: #4589FF;
    font-size: 23px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}

.img-size-border{
    width: 66px;
    height: 66px;
    object-fit: cover;
    border-radius: 40px;
}


.urgency-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 676px;
    height: 191px;
    background-color: #4589FF;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.urgency-container:hover{
    cursor: pointer;
    background-color: white;
    border-top-left-radius: 0;
    transform: scale(1.05);
}
                .urgency-container:hover .img-size-border{
                    width: 79px;
                    height: 79px;
                }

        .urgency-inside-left-container{
            display: flex;
            flex-direction: column;
            width: 140px;
            height: 113px;
        }

        .urgency-separator{
            height: 145px;
            width: 2px;
            background-color: white;
        }

                .urgency-container:hover .urgency-separator{
                    background-color: #4589FF;
                }

        .urgency-inside-right-container{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            width: 274px;
            height: 145px;
        }

        .urgency-inside-right-top-container{
            display: flex;
            justify-content: space-between;
        }

                .urgency-container:hover .urgency-inside-right-container{
                    width: 310px;
                }

        .urgency-number{
            color: white;
            font-size: 48px;
            font-weight: 700;
        }

                .urgency-container:hover .urgency-number{
                    color: #4589FF;
                    font-size: 58px;
                }

        .urgency-font{
            color: white;
            font-size: 23px;
            display: flex;
            margin-top: 10px;
            text-align: center
        }

                .urgency-container:hover .urgency-font{
                    color: #4589FF;
                    font-size: 27px;
                }

        .urgency-font-bold{
            color: white;
            font-size: 33px;
            font-weight: 700;
        }

        .urgency-container:hover .urgency-font-bold{
            color: #4589FF;
            font-size: 37px;
        }


.tasks-on-board-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 204px;
    height: 191px;
    margin-left: 30px;
}

.tasks-on-board-container:hover{
    transform: scale(1.15);
    background-color: #005DFF;
    cursor: pointer;
    border-top-left-radius: 0;
}

        .tasks-on-board-inside-container{
            height: 150px;
            width: 139px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

                .tasks-on-board-container:hover .img-size-border{
                    width: 73px;
                    height: 73px;
                }

                .tasks-on-board-container:hover .number-size{
                    color: white;
                    font-size: 58px;
                }

                .tasks-on-board-container:hover .regular-container-font{
                    color: white;
                    font-size: 27px;
                }

.tasks-to-do-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 204px;
    height: 219px;
    background-color: #D2E3FF;
}

.tasks-to-do-container:hover{
    transform: scale(1.15);
    background-color: white;
    border-top-left-radius: 0;
    cursor: pointer;
}

        .tasks-to-do-inside-container{
            height: 159px;
            width: 139px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

                .tasks-to-do-container:hover .img-size-border{
                    width: 73px;
                    height: 73px;
                }

                .tasks-to-do-container:hover .number-size{
                    color: #005DFF;
                    font-size: 58px;
                }

                .tasks-to-do-container:hover .regular-container-font{
                    color: #005DFF;
                    font-size: 27px;
                }


.other-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 204px;
    height: 219px;
}

.other-container:hover{
    transform: scale(1.15);
    background-color: #005DFF;
    border-top-left-radius: 0;
    cursor: pointer;
}

        .other-inside-container{
            height: 159px;
            width: 139px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .other-icon-and-number{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
        }

                .other-container:hover .img-size-border{
                    width: 79px;
                    height: 79px;
                }

                .other-container:hover .number-size{
                    color: white;
                    font-size: 58px;
                }

                .other-container:hover .regular-container-font{
                    color: white;
                    font-size: 27px;
                }