body{
    margin: 0;
}

.headline-container-summary{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.h1-summary{
    font-size: 60px;
    margin-top: 0px;
}

.greeting-font-summary{
    font-size: 48px;
    color: #2A3647;
}

.username-font-summary{
    font-size: 64px;
    font-weight: 700;
    color:#4589FF;
    margin-left: 15px;
}

.border-radius-summary{
    border-radius: 30px;
}

.border-color-summary{
    border: solid 2px rgba(0, 0, 0, 0.075);
}


.maincontent-outside-container-summary{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 96px);

    box-sizing: border-box;
}

.maincontent-inside-container-summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 912px;
    height: 591px;

    box-sizing: border-box;
}

.upper-container{
    display: flex;
    justify-content: space-between;
    width: 912px;
}

.upper-container a{
    text-decoration: none;
}

.lower-container{
    display: flex;
    justify-content: space-between;
    width: 912px;
    margin-top: 20px;
}

.lower-container a{
    text-decoration: none;
}
