.orange{
    background-color: #FF7A00;
}

.lila{
    background-color: #462F8A;
}

.lavander{
    background-color: #6E52FF;
}

.violette{
    background-color: #9327FF;
}

.pink{
    background-color: #FC71FF;
}

.yellow{
    background-color: #FFBB2B;
}

.turquoise{
    background-color: #1FD7C1;
}

.red{
    background-color: #FF4646;
}

