.ocker{
    background-color: #FFBB2B;
}

.yellow{
    background-color: #FFE62B;
}

.orange{
    background-color: #FF7A00;
}

.red{
    background-color: #FF4646;
}

.salmon{
    background-color: #FF745E;
}

.creme{
    background-color: #FFA35E;
}

.lila{
    background-color: #462F8A;
}

.lavander{
    background-color: #6E52FF;
}

.violette{
    background-color: #9327FF;
}

.pink{
    background-color: #FC71FF;
}

.magenta{
    background-color: #FF5EB3;
}

.blue{
    background-color: #0038FF;
}

.turquoise{
    background-color: #1FD7C1;
}

.babyblue{
    background-color: #00BEE8;
}

.lime{
    background-color: #C3FF2B;
}




