.input-title-error-addTask{

    border-bottom: solid 1px #FF3D00;
}

    .input-title-error-addTask::placeholder{
            color: #D1D1D1;
        }

.input-date-error-addTask{

    border-bottom: solid 1px #FF3D00;
}

.prio-buttons-order-error-addTask{
    border: solid 1px #FF3D00;
    border-radius: 5px;
}

.succesfull-popup{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 326px;
    height: 74px;
    border-radius: 24px;
    background-color: #4589FF;
    color: white;
    font-size: 23px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    top: 120%; 
    transition: top 0.4s ease-out;
}

        .top-50-percent{
            top: 50% !important;
        }

.white-transparent-overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.582);
    
    opacity: 0;
    visibility: hidden; 
    transition: 0.8s;
    z-index: 998;
}

.show-overlay-add-task{
    opacity: 1;
    visibility: visible;
}

.board-icon-add-task{
    width: 22px;
    height: 22px;
}

.selectfield-error-message-container{
    min-height: 22px;
}

.selectfield-error-message{
    color: #FF3D00;
}
