.main-container-userstory{
    display: flex;
    flex-direction: column;

    width: 448px;
    height: 778px;

    gap: 24px;
    padding: 48px 40px;

    border-radius: 30px;
    border:solid 2px #D1D1D1;

    background-color: bisque;

    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1000;
    top: 150%; 
    transition: top 0.4s ease-out;
}

        .top-50-percent{
            top: 50% !important;
        }

.regular-span-font-userstory{
    font-size: 19px;
}

.bold-span-font-userstory{
    color: #42526E;
    font-size: 21px;
    font-weight: 700;
}

.bold-span-font-space-userstory{
    display: flex;
    width: 140px;
}

.userstory-category-tag{
    background-color: #FF7A00;
    padding: 4px 24px;
    font-size: 23px;
    color: white;
    border-radius: 8px; 
}

.close-button-userstory{
    width: 32px;
    height: 32px;
    border-radius: 20px;
    transition: 0.2s;
}

        .close-button-userstory:hover{
            background-color: #D2E3FF;
            cursor: pointer;
            transform: scale(1.2); 
        }

.h1-font-userstory{
    font-size: 61px;
    font-weight: 700;
    margin: 0;
}

.priotity-icon-userstory{
    width: 17px;
    height: 7px;
    margin: 0 9px;
}

.letter-ball-userstory{
    display:flex;
    justify-content: center;
    align-items: center;

    margin: 0 25px;

    border-radius: 21px;
    height: 42px;
    width: 42px;
    color: white;
    font-size: 16px;
}


.assigned-to-content-order{
    display: flex;
    flex-direction: column;
}

.assigned-to-single-container{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.subtasks-inputfield-userstory{
    margin: 0 18px;
}

.subtasks-container-userstory{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.subtask-single-container-userstory{
    display: flex;
    align-items: center;
    margin-top: 11px;
}

.subtask-checkbox-cardDetail{
    display: flex;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    background-image: url("../../img/checkbox_unchecked.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 18px;
    cursor: pointer;
}

.edit-delete-container-userstory{
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
}

.edit-single-container-userstory{
    display: flex;
    align-items: center;  
    cursor: pointer; 
}

.delete-single-container-userstory{
    display: flex;
    align-items: center;   
    cursor: pointer;
}

.edit-delete-separator-userstory{
    width: 2px;
    height: 27px;
    background-color: #D1D1D1;
    margin: 0 20px;
}

.edit-icon-userstory{
    width: 24px;
    height: 24px;
    margin-right: 11px;
    transition: 0.2s;
}

.delete-icon-userstory{
    width: 24px;
    height: 24px;
    margin-right: 11px;
    transition: 0.2s;
}

.edit-delete-font-userstory{
    font-size: 19px;
    transition: 0.2s;
}

        .edit-single-container-userstory:hover .edit-delete-font-userstory{
            color: #005DFF;
            font-weight: 600;
        }
        .edit-single-container-userstory:hover .edit-icon-userstory{
            transform: scale(1.1);
            filter: brightness(0.9);
        }

        .delete-single-container-userstory:hover .edit-delete-font-userstory{
            color: #005DFF;
            font-weight: 600;
        }

        .delete-single-container-userstory:hover .delete-icon-userstory{
            transform: scale(1.1);
            filter: brightness(0.9);
        }

        .edit-delete-single-container-userstory:hover{
            cursor: pointer;
        }

