@font-face{
    font-family: 'Open_Sans';
    src: url('/fonts/Open_sans/OpenSans-VariableFont_wdth\,wght.ttf')
}

body{
    margin: 0px;
    font-family: 'Open_Sans', Arial, sans-serif;
}

.h2-login{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 11px;
    padding-bottom: 15px;
    border-bottom: solid 2px #4589FF;
}

.top-section{
    display: flex;
    justify-content: space-between;
    margin: 67px;
}

.blue-join-icon-login{
    height: 122px;
    width: 100px;
}

.not-a-join-user{
    display: flex;
    align-items: baseline;
    font-size: 23px;
}

.blue-button{
    margin: 0 15px 0 15px;
    color: white;
    background-color: #4589FF;
    padding: 8px 16px 8px 16px;

    height: 48px;
    width: 112px;

    border-radius: 4px;
    border-style: none;
    font-size: 23px;
    transition: 0.2s;
}

.blue-button:hover{
    background-color: #005DFF;
    cursor: pointer;
}

.center-section-login{
    display: flex;
    justify-content: center;
}

.center-container-login{
    width: 652px;
    height: 448px;

    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
    border-radius: 30px;
}

.headline-login{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.form-container-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputfields-container-login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 422px;
    height: 152px;
}

.inputfield-mail-login{
    padding: 10px 20px 10px 20px;
    border-width: 0px;
    border-bottom: solid 2px #D1D1D1;

    font-size: 19px;

    background-image: url("/img/mail.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
}

        .inputfield-mail-login::placeholder {
            color: #D1D1D1;
        }

        .inputfield-mail-login:focus {
            outline: none;
            border-bottom-color: #4589FF;
        }


.inputfield-password-login{
    padding: 10px 20px 10px 20px;
    border-width: 0px;
    border-bottom: solid 2px #D1D1D1;

    font-size: 19px;

    background-image: url("/img/lock.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
}

        .inputfield-password-login::placeholder {
            color: #D1D1D1;
        }

        .inputfield-password-login:focus {
            outline: none;
            border-bottom-color: #4589FF;
        }


.inputfield-login:focus {
    outline: none;
    border-bottom-color: #4589FF;
}

.inputfield-error-login{
    border-bottom: solid 2px #FF3D00;
}

.button-order-login{
    display: flex;
    justify-content: space-evenly;
    width: 422px;
    height: 48px;
}

.button-container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 0;
}

.blue-button-big{
    color: white;
    height: 48px;
    padding: 0 37px 0 37px;
    background-color: #4589FF;
    border-radius: 4px;
    border-style: none;
    font-size: 20px;
    transition: 0.2s;
}

.blue-button-big:hover {
    background-color: #005DFF;
    cursor: pointer;
}

.white-button-big{
    color: #647188;
    height: 48px;
    padding: 0 37px 0 37px;
    background-color: #FFFFFF;
    border: solid 2px #647188;
    border-radius: 4px;
    font-size: 20px;
    transition: 0.2s;
}

.white-button-big:hover{
    color: #4589FF;
    border: solid 2px #4589FF;
    cursor: pointer;
}

bottom-section {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom-section-order{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0 39px 0;
}

.private-pollicy-legal-notice-element{
    padding: 5px;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.private-pollicy-legal-notice-element:hover{
    color: #4589FF;
    cursor: pointer;
}

.error-class-login{
    display: flex;
    justify-content: center;
    min-height: 24px;
    color: #FF3D00;
}
