.button-order-addtask-responsive{
    display: none;
    justify-content: center;
    bottom: 0px;
    margin-bottom: 70px;
    margin-top: 40px;
}

@media(max-width: 1000px){

.button-order-addtask-responsive{
    display: flex;
}

.textarea-description-addtask {
    max-width: 100%;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.real-main-container-addTask {
    height: calc(100vh - 166px);
}

.scroll-container-addTask{
    width: 100%;
}

.main-container-addTask{
    height: calc(100vh - 177px);
    width: 100%;
    box-sizing: border-box;
}

.scrollcontainer{
    height: calc(100vh - 125px);
}

.input-title-addTask {
    margin-top: 25px;
}

.button-order-addtask {
    display: none;
}

.subtasks-container {
    margin-bottom: 0;
    
}


}

@media(max-width: 480px){

.prio-buttons-addTask {
    height: 51px;
    width: 105px;
    font-size: 16px;
    padding: 18px 0px;
}

.prio-icons-addTask {
    height: 12px;
    width: 16px;
}

.main-container-addTask {
    width: 300px;
}


}