.swap-button-board{
    display: none;
    align-items: center;
    justify-content: center;
    width: 26px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: #F4F4F4;
    border-style: none;
    cursor: pointer;
}

    .swap-button-board:hover{
        background-color: #D2E3FF;
    }

.swap-button-order-board{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 8px 16px;
}

.swap-icon-board{
    height: 16px;
    width: 18px;
    padding: 6px 0px;
}

.popUpMenue-moveto{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #4589FF;
    position: absolute;
    right: 0;
    width: 126px;
    top: 6px;
}

.moveto-span-tag{
    color: white;
    border-radius: 5px;
    padding: 0 4px;
}

        .moveto-span-tag:hover{
            background-color: #D2E3FF;
            color: #4589FF;
        }

@media(max-width: 1228px) {
    .bottom-section-board {
         flex-direction: column; 
    }

    .bottom-section-single-container-board {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .maincontent-container-board {
        padding: 76px 56px 0 56px;
        width: 100%;
        box-sizing: border-box;
    }

    .cards-container-board {
        display: flex;
        flex-flow: wrap;
        min-height: 200px;
        width: 100%;
        align-items: start;
    }



    .filled-card-board {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .textarea-description-addtask {
        max-width: 100%;
    }

    .headline-container-board {
        margin-top: 14px;
        margin-bottom: 24px;
    }

}

@media(max-width: 1000px){
    .swap-button-board{
        display: flex;
    }

    .addTask-Button-board {
        display: none;
    }

    .input-addtask-button-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .inputfield-container-board {
        width: 100%;
    }

    .inputfield-board {
        width: 100%;
    }


    .maincontent-container-board {
        height: calc(100vh - 177px);
    } 

    .addTask-maincontainer-board {
        width: 100%;
    }


}

@media(max-width: 550px){
    .main-container-userstory {
        width: 329px;
        height: 778px;
    }

    .h1-font-userstory {
        font-size: 46px;
    }

    .userstory-category-tag {
        padding: 4px 19px;
        font-size: 18px;
    }

    .bold-span-font-userstory {
        font-size: 18px;
    }
}

@media(max-width: 480px){
    .prio-buttons-addTask {
        width: 105px;
        font-size: 16px;
    }
}
    

@media(max-width: 415px){
    .main-container-userstory {
        padding: 26px 19px;
        width: 298px;
    }

    .prio-icons-addTask {
        height: 9px;
        width: 16px;
    }
}

@media(max-height: 750px){
    .main-container-userstory {
        height: 660px;
    }
}

@media(max-height: 670px){
    .main-container-userstory {
        height: 580px;
    }
}
