@media(max-width: 720px){

.header-font {
    display: none;
}

.help-icon{
    display: none;
}

}

@media(max-width: 500px){
    .user-button {

        height: 40px;
        width: 40px;

        font-size: 21px;

    }
}