.bottom-section-responsevise{
    display: none;
    bottom: 65px;
    position: fixed;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

@media (max-width: 690px) {

.white-big-join-icon-login{
    height: 188px;
    width: 150px;
}

.top-section {
    display: none;
}

.center-section-login {
    padding: 24px;
}

.bottom-section-responsevise{
    display: flex;
}

.bottom-section-order{
    padding-bottom: 25px;
}

.not-a-join-user {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex-direction: row;
    font-size: 18px;
}

.blue-button {
    font-size: 18px;
    padding: 4px 8px; 
    height: 39px;
    width: 88px;
}

.blue-join-icon-login {
    height: 85px;
    width: 67px;
    position: absolute;
    top: 32px;
    left: 33px;
}

.button-order-login {
    flex-direction: column;
    width: 195px;
    justify-content: space-between;
    height: 114px;
    margin-top: 15px;
}

.button-container-login {
    padding: 0;
}

}

@media(max-width: 535px){

    .border-under-headline{
        width: 90px;
    }

    .blue-join-icon-login {
        height: 78px;
        width: 64px;
    }

    .inputfields-container-login {
        width: 330px;
    }
}

@media(max-width: 420px){

    .inputfields-container-login {
        width: 300px;
    }

    .blue-join-icon-login {
        top: 15px;
        left: 15px;
    }

}

@media(max-height: 730px){
    .bottom-section-responsevise {
        margin-bottom: 20px;
    }
}

@media(max-height: 680px){
    .bottom-section-responsevise {
        margin-bottom: 0px;
    }

    .h2-login {
        margin-top: 20px;
    }

    .center-container-login {
        height: 407px;
        margin-top: 35px;
    }

    .button-order-login {
        margin-top: 0px;
    }
}