@media(max-width: 810px){

.join-logo-signup{
    height: 78px;
    width: 60px;
}

.join-logo-signup {
    margin: 28px;
}

.blue-button-settings-signup {
    height: 47px;
    width: 171px;
}

}

@media(max-width: 490px){
    
    .form-section-signup {
        width: 330px;
    }
}

@media(max-width: 450px){

    .formlar-size-signup {
        width: 370px;
    }

    .form-section-signup {
        width: 290px;
    }

}

@media(max-width: 390px){
    .arrow-container-signup {
        margin: 57px 19px;
    }
}

@media(max-height: 790px){
    .join-logo-signup {
        display: none;
    }
}