@media(max-width: 810px){

.join-logo-signup{
    height: 78px;
    width: 64px;
}

.join-logo-signup {
    margin: 28px;
}

.blue-button-settings-signup {
    height: 47px;
    width: 171px;
}

}

@media(max-width: 490px){
    
    .form-section-signup {
        width: 330px;
    }
}

@media(max-width: 450px){

    .formlar-size-signup {
        width: 370px;
    }

    .form-section-signup {
        width: 290px;
    }

}

@media(max-width: 390px){
    .arrow-container-signup {
        margin: 57px 19px;
    }
}

@media(max-width: 350px){
    .form-section-signup {
        width: 250px;
    }
}

@media(max-height: 790px){

    .button-container-signup {
        padding: 15px 0;
    }

    .formlar-size-signup {
        height: 510px;
        margin-top: 40px;
    }

    .bottom-section-order {
        padding-bottom: 10px;
    }

    .checkbox-signup-container {
        padding-top: 0px; 
        margin-top: 0px; 
    }

    .h2-signup {
        margin-top: 20px;
    }

    .join-logo-signup {
        height: 67px;
        width: 47px;
        margin-top: 15px;
    }

    .arrow-container-signup {
        margin: 40px 19px;
    }

    .border-under-headline{
        width: 112px;
    }
}